.app-container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
}

/* add-card */

.add-card__content {
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ddd;
}

.add-card__input-container-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-card__input-container {
  display: flex;
  align-items: center;
}

.add-card__input {
  height: 24px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
}

.action-button {
  width: 100px;
  height: 28px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.add-card__button {
  background: #00bfff;
  border: none;

  &:hover {
    border: 1px solid #444;
  }
}

/* card-list */

.card-list {
  min-height: 148px;
  margin: 0 10px;
}

.card-list__title {
  color: red;
  font-weight: 600;
}

.card-list__title--completed {
  color: blue;
}

.card-list__card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-list__card {
  width: 240px;
  height: 150px;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 0 12px;
}

.card-list__card-title,
.card-list__card-content {
  font-size: 14px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #333;
}

.card-list__card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.card-list__card-content {
  min-height: 36px;
}

.card-list__card--completed {
  border: 2px solid gray;
}

.card-list__button-wrap {
  display: flex;
  justify-content: space-between;
}

.card-list__button--complete {
  border: 1px solid #00ab41;

  &:hover {
    background-color: #00ab41;
    color: #fff;
  }
}

.card-list__button--cancel {
  border: 1px solid #fbb117;

  &:hover {
    background-color: #fbb117;
    color: #fff;
  }
}

.card-list__button--delete {
  border: 1px solid #9f9f9f;

  &:hover {
    background-color: #9f9f9f;
    color: #fff;
  }
}
